Create a function which takes two numbers and adds them together

In [1]:
def add(a,b): #a and b are parameters

  sum = a+b

  print(sum)

In [2]:
add(4,9) #4 and 9 are arguments to the parameter

13

In [3]:
add(7,9)

16

In [4]:
add(-5,-7)

-12

Create a funtion which takes 2 numbers and display the addition, subtraction, multiplication and division of these two numbers

In [5]:
def compute(a,b):
  s=a+b
  t=a-b
  u=a*b
  v=a/b

  print(s,t,u,v)

In [6]:
compute(7,9)

16 -2 63 0.7777777777777778

Create a function which displays the name, age and city of a candidate

In [7]:
def info(name,age,city):
  print(name,age,city)

In [8]:
info('Aashutosh',99,'Noida')

Aashutosh 99 Noida

In [9]:
info('Meera',98,'Delhi')

Meera 98 Delhi

Types of Arguments

1. Positional Arguments

2. Default Arguments

3. Arbitrary Arguments

4. Keyword Arguments

5. Arbitrary Keyword Arguments