Display the names of your friends one by one stored in the form of a list

In [1]:
names=['George','Catherine','John','Chirag','Rishabh','Tushar','Sagar','Alok']

for name in names: #name is an iterator
  print(name)

George
Catherine
John
Chirag
Rishabh
Tushar
Sagar
Alok

In [2]:
fruits=['Apple','Mango','Banana','Grapes','Kivi']

for fruit in fruits:
  print(fruit)

Apple
Mango
Banana
Grapes
Kivi

In [3]:
for i in fruits:
  print(i,end=' ')

Apple Mango Banana Grapes Kivi

Display the first 10 whole numbers

In [4]:
for i in range(0,10): #bydefault the step size will be 1
  print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0,10,2): #here step size is 2 - consequtive o/ps will have difference of 2
  print(i)

0
2
4
6
8

In [6]:
for i in range(0,10,3):
  print(i,end=' ')

0 3 6 9

Take a list of numbers and display all the even numbers from this list

In [7]:
my_list=[2,3,4,5,6,8,9]

for i in my_list:
  if i%2==0:
    print(i,end=' ')

2 4 6 8

Take a list of numbers and display all the even numbers from this list

In [8]:
my_list=[2,3,4,5,6,8,9]

for i in my_list:
  if i%2!=0:
    print(i,end=' ')

3 5 9

Display all the numbers including 1 to 10

In [9]:
a=1

while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

Display all the even numbers between 0 to 20 (both numbers included)

In [10]:
a=0

while a<=20:
    print(a)
    a=a+2

0
2
4
6
8
10
12
14
16
18
20

Controlling the flow in Loops

1. Break statement - breaks the loop when an element is satisfying a given condition

2. Continue statement - the loop continues to iterate and only the element in the given condition gets skipped

In [11]:
fruit=['Mango','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Guava': #if the fruit becomes Guava (4th iteration)
    break
  print(i)

Mango
Banana
PineApple

In [12]:
name='Aashutosh'

for i in name:
  if i=='t':
    break
  print(i,end='')

Aashu

In [13]:
fruit=['Mango','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Mango':
    break
  print(i)

In [14]:
fruit=['Mango','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Guava': #Guava will be skipped but the iteration will not stop
    continue
  print(i)

Mango
Banana
PineApple
Grapes
Potato
Tomato

In [15]:
fruit=['Mango','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Mango':
    continue
  print(i)

Banana
PineApple
Guava
Grapes
Potato
Tomato